@import "~@covalent/core/common/styles/mixins.custom";

$retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

@mixin retina-background-image($file, $type, $width, $height) {
  background-image: url($file + '.' + $type);
  @media #{$retina} {
    background-image: url($file + '@2x.' + $type);
    background-size: $width $height;
  }
}
@mixin mat-icon-color($base-color, $contrast){
    $color: mat-color($base-color, $contrast);
    background-color:  rgba($color, 0.26) !important;;
    color: $color !important;
}

@mixin text-truncate(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@mixin md-subhead-3(){
    font-family: $font-family;
    font-size: $subhead-font-size-base;
    font-weight: $weight-semibold;
    letter-spacing: 0.010em;
    line-height: rem(2.4);
}
@mixin exo-text-truncate($lines: 1){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}

