@import "~@covalent/core/common/styles/variables";
@import '~@angular/material/theming';
@import "./exo-theme";

$primary: map-get($exo-app-theme, primary);
$accent: map-get($exo-app-theme, accent);
$warn: map-get($exo-app-theme, warn);

$foreground: map-get($exo-app-theme, foreground);

/***********************************************************
* Breakpoints variables
***********************************************************/
$screen-exo-xxs: 480px !default;
$screen-exo-xxs-max: $screen-exo-xxs !default;

$screen-xs: 599px !default;
$screen-xs-max: $screen-xs !default;

$screen-sm: 959px !default;
$screen-sm-min: ($screen-xs-max +1) !default;
$screen-sm-max: $screen-sm !default;

$screen-md: 1279px !default;
$screen-md-min: ($screen-sm-max +1) !default;
$screen-md-max: $screen-md !default;


$screen-lg: 1919px !default;
$screen-lg-min: ($screen-md-max +1) !default;
$screen-lg-max: $screen-lg !default;
