.mat-button, .mat-raised-button{
    text-transform: uppercase;
    font-weight: $weight-semibold !important;
    &:not(.outlined){
        box-shadow: none !important;
    }
}

.mat-button {
    &:not(.mat-primary):not(.mat-accent){
        color: mat-color($foreground, 'secondary-text');
        &:hover{
            $base-color: mat-color($foreground, 'secondary-text');
            background-color: transparent;
        }
    }
}

.mat-button.outlined{
    &:hover{
        -webkit-transition-duration: 0.2s; /* Safari */
        transition-duration: 0.2s;
        color: white;
    }
    &.mat-primary{
        box-shadow: 0 0 0 1px mat-color($primary) inset;
        &:hover{
            background-color: mat-color($primary);
        }
    }&.mat-accent{
        box-shadow: 0 0 0 1px mat-color($accent) inset;
        &:hover{
            background-color: mat-color($accent);
        }
    }
}

.mat-button.social-network{
    .mat-icon{
        width: auto;
        height: auto;
        font-size: 2em;
    }
    label{
        color: white;
        padding-left: 20px;
        font-weight: $weight-bold;
    }
    &.linkedin{
        background-color: #0077B5;
    }
}
