td-chips{
    padding: 0px !important; 
    .mat-input-wrapper {
        margin-bottom: 0px;
    }
    .mat-input-underline{
        border-color: mat-color($foreground, divider) !important;
    }
}


.chips-container {
    position: relative;
    .chips-wrapper {
        padding-bottom: 15px;
    }
}


.mat-chip:not(.mat-basic-chip), td-chips .mat-basic-chip{
    margin-bottom: 10px !important;
    color: mat-color($mat-blue-grey, 600);
    background-color: mat-color($mat-blue-grey, 50);
    text-transform: capitalize;
    md-icon.td-chip-removal{
        color: mat-color($foreground, 'disabled');
    }
    &.outlined{
        background-color: transparent;
        border: 1px solid;
        border-color: mat-color($mat-blue-grey, 300);
        color: mat-color($mat-blue-grey, 500);
        @include md-body-1();
        font-size: $body-font-size-base !important;
        &.disabled{
            color: mat-color($foreground, 'disabled');
            border-color: mat-color($foreground, 'disabled');
        }
    }
}
.chips-help{
    text-transform: capitalize;
}
