@import '../scss/variables';

[mat-dialog-title] {
    color: mat-color($foreground, 'secondary-text');
    mat-icon {
        cursor: pointer;
    }
}

mat-dialog-actions {
    background-color: mat-color($mat-grey, 50);
    margin-left: -24px;
    margin-right: -24px;
    min-height: 24px;
    padding:0px 20px;
}
