$font-source: '~@convalent/core/common/styles/font/';

@font-face {
 font-family: 'Material Icons';
 font-style: normal;
 font-weight: 400;
 src: url($font-source + "MaterialIcons-Regular.eot");
 /* For IE6-8 */
 src: local($font-source + "Material Icons"), local($font-source + "MaterialIcons-Regular"), url($font-source + "MaterialIcons-Regular.woff2") format("woff2"), url($font-source + "MaterialIcons-Regular.woff") format("woff"), url($font-source + "MaterialIcons-Regular.ttf") format("truetype");
 }