//Useful class
.pointer{
    cursor: pointer;
}

.italic {
    font-style: italic;
}

.line-breaker{
    white-space: pre-line;
}

.mat-hint{
    @include md-caption();
    color: mat-color($foreground, 'secondary-text');
    div.error{
        color: mat-color($mat-red, A200);
    }
}
.mat-option{
    font-family: "Open Sans"
}
