@import '../scss/variables';

md-icon[md-list-avatar]{
    
    
    &.mat-primary{
        background-color: mat-color($primary, 0.26);
    }
    &.mat-accent{
        background-color: mat-color($accent, 0.26);
    }
    &.mat-success{
        @include mat-icon-color($mat-teal, A400);
    }
    &:not(.mat-primary):not(.mat-accent):not(.mat-success) {
        $base-color: mat-color($foreground, 'icon');
        background-color: rgba($base-color, 0.26);
    }
}