@import '~@covalent/core/common/styles/variables.custom';
@import '~@covalent/core/common/styles/mixins.custom';
@import '../scss/variables';

markdown{
    h3{      
        @include md-title();
        margin-top: 0px;
        color: md-color($foreground, 'text');
        line-height: 1.5;
    }
    p{
        margin-top: 0px;
        margin-bottom: 16px;
    }
}

