[md-menu-item]{
    font-size: $body-font-size-base;
    font-family: $font-family;
    &.menu-title{
        color: mat-color($foreground, secondary-text);
        @include md-body-2();
        md-icon{
            font-size: $body-font-size-base;
        }
    }
    &.active{
        color: mat-color($primary);
        md-icon{
             color: mat-color($primary);
        }
    }
}

.mat-select-panel {
    max-height: 265px;
}
