@import '~@covalent/core/common/styles/variables.custom';
@import '~@covalent/core/common/styles/mixins.custom';
@import '../scss/variables';

[md-menu-item]{
    font-size: $body-font-size-base;
    font-family: $font-family;
    &.menu-title{
        color: mat-color($foreground, secondary-text);
        @include mat-body-2();
        md-icon{
            font-size: $body-font-size-base;
        }
    }
    &.active{
        color: mat-color($primary);
        md-icon{
             color: mat-color($primary);
        }
    }
}
