.rating {
  align-items: flex-start !important;
  justify-content: flex-start !important;
  margin-bottom: 0px !important;
}

.star-container{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.rating:not(.read-only){
  & > .star-container {
    cursor: pointer;
  }
}

