.weight-semibold{
    font-weight: $weight-semibold;
}
.weight-light{
    font-weight: $weight-light;
}
.weight-regular{
    font-weight: $weight-regular;
}
.weight-bold{
    font-weight: $weight-bold;
}

.weight-black{
    font-weight: $weight-black;
}

.md-subhead-3{
    @include md-subhead-3();
}
