.weight-semibold{
  font-weight: $weight-semibold;
}
.weight-light{
  font-weight: $weight-light;
}
.weight-regular{
  font-weight: $weight-regular;
}
.weight-bold{
  font-weight: $weight-bold;
}

.weight-black{
  font-weight: $weight-black;
}

.capitalize{
  text-transform: capitalize;
}
.upper-first-letter::first-letter{
  text-transform: uppercase;
}
.text-upper{
  text-transform: uppercase;
}
.text-lower{
  text-transform: lowercase;
}

// CUSTOM TIPOGRAPHY
.md-subhead-3{
  @include md-subhead-3();
}

.md-title-light {
  @include md-title();
  font-weight: $weight-light;
}

.md-title-regular {
  @include md-title();
  font-weight: $weight-regular;
}

.md-headline-semibold {
  @include md-headline();
  font-weight: $weight-semibold;
}

.md-subhead-semibold {
  @include md-subhead();
  font-weight: $weight-semibold;
}

.md-link{
  color: mat-color($mat-blue, 700);
  font-weight: $weight-bold;
  cursor: pointer;
  text-decoration: none;
}
