.bar-chart{
    .label{
        @include md-subhead();
        padding-bottom: 10px;
    }
    .mat-progress-bar-fill::after{
        background-color: mat-color($mat-blue-grey, 300);
    }
    &.high-level{
        .label{
            color: mat-color($primary);
        }
        .mat-progress-bar-fill::after{
            background-color: mat-color($primary);
        }
    }
    &.medium-level{
        .label{
            color: mat-color($foreground, 'text');
        }
    }
    &.low-level{
        .label{
            color: mat-color($foreground, 'secondary-text');
        }
    }
    
    .mat-progress-bar{
        margin-bottom: 20px;
        .mat-progress-bar-buffer{
            background-color: mat-color($mat-blue-grey, 50);
        }
    }
}
